global
  maxconn 100
  log     stdout format raw local0

defaults
  mode    tcp
  timeout connect  4s
  timeout client  30m
  timeout server  30m
  timeout check    5s

frontend postgresql
  bind *:5432
  default_backend patroni_primary

backend patroni_primary
  option  httpchk GET /primary HTTP/1.0
  http-check expect status 200
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
  server patroni1 patroni1:5432 maxconn 100 check port 8008
  server patroni2 patroni2:5432 maxconn 100 check port 8008

frontend stats
  bind *:7000
  mode  http
  stats enable
  stats uri /
  stats refresh 10s
